.overlay {
  background: rgb(255 255 255 / 0.5);
  inset: 0;
  position: fixed;
  z-index: 1;
}

.content {
  background: var(--background);
  border: 1px solid #e1e3e1;
  border-radius: 24px;
  display: grid;
  grid-template: auto 1fr / 1fr;
  height: calc(100% - 24px * 2);
  inset: 50%;
  position: fixed;
  transform: translate(-50%, -50%);
  width: min(calc(100% - 24px * 2), 1280px);
  z-index: 1;
  overflow: hidden;
}

.header {
  border-bottom: 1px solid #e1e3e1;
}

.title {
  font-size: 2rem;
  padding: 12px 18px;
}

.main {
  background: #000;
}

.twoSlidesPerView .swiperSlide:nth-child(even) .thumbnail {
  object-position: right;
}

.twoSlidesPerView .swiperSlide:nth-child(odd) .thumbnail {
  object-position: left;
}

.slideInner {
  position: relative;
  color: white;
  height: 100%;
}

.thumbnail {
  object-fit: contain;
}
