.sidebar {
  background: var(--background);
  border-right: 1px solid hsl(from var(--background) h s calc(l - 18));
  height: calc(100dvh - var(--header-height));
  padding: clamp(12px, 2.5dvw, 18px) 12px;
  /* stylelint-disable-next-line plugin/no-low-performance-animation-properties */
  transition: width 0.25s ease-in-out;
  width: var(--sidebar-width);

  [data-theme="dark"] & {
    border-color: hsl(from var(--background) h s calc(l + 18));
  }
}

.closed {
  width: var(--sidebar-width-narrow);
}

.link {
  align-items: center;
  border-radius: 6px;
  display: grid;
  font-size: 1.6rem;
  gap: 21px;
  grid-template: 48px / 21px 1fr;
  overflow: hidden;
  padding: 0 12px;
  transition: background 0.25s ease-in-out;
  white-space: nowrap;
}

.current {
  background: var(--background-tertiary);
}
