.container {
  --header-height: 60px;
  --navigation-width: 200px;
}

.headerContainer {
  height: var(--header-height);
  inset: 0 0 auto 0;
  position: fixed;
  z-index: 1;
}

.navigationContainer {
  height: calc(100dvh - var(--header-height));
  inset: var(--header-height) auto 0 0;
  position: fixed;
  width: var(--navigation-width);
}

.main {
  margin: var(--header-height) 0 0 var(--navigation-width);
}
